.container {
    box-sizing: border-box;
}
.navbar-brand {
    font-family: 'Lobster', cursive;
}
.vista-dos{
    margin: auto;
}
.active:active {
    background-color: gray;
    border-radius: 10px;
}
