.container {
    box-sizing: border-box;
}
.navbar-brand {
    font-family: 'Lobster', cursive;
}
.vista-dos{
    margin: auto;
}
span:active {
    background-color: gray !important;
    border-radius: 10px !important;
}
span.active > i{
    color: white;
}
